In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
# First step would be to read sales data
#BC: diria que o primeiro ficheiro para ser lido Ã© o de sales

df_sales=pd.read_csv('datasets/sales.csv')


df_sales.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False

## Data Analysis

In [45]:
#Check dataset shape

print("Data Types :")
print(df_sales.dtypes)

Data Types :
Store             int64
Dept              int64
Date             object
Weekly_Sales    float64
IsHoliday          bool
dtype: object

In [46]:
df_sales['Date'] = pd.to_datetime(df_sales['Date'], format="%d/%m/%Y", infer_datetime_format=True)

In [47]:
for col in df_sales:
    print(df_sales[col].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 16 17 18 19 20 21 22 23 24 25
 26 27 28 29 30 31 32 33 34 35 36 37 38 40 41 42 44 45 46 47 48 49 51 52
 54 55 56 58 59 60 67 71 72 74 77 78 79 80 81 82 83 85 87 90 91 92 93 94
 95 96 97 98 99 39 50 43 65]
['2010-02-05T00:00:00.000000000' '2010-02-12T00:00:00.000000000'
 '2010-02-19T00:00:00.000000000' '2010-02-26T00:00:00.000000000'
 '2010-03-05T00:00:00.000000000' '2010-03-12T00:00:00.000000000'
 '2010-03-19T00:00:00.000000000' '2010-03-26T00:00:00.000000000'
 '2010-04-02T00:00:00.000000000' '2010-04-09T00:00:00.000000000'
 '2010-04-16T00:00:00.000000000' '2010-04-23T00:00:00.000000000'
 '2010-04-30T00:00:00.000000000' '2010-05-07T00:00:00.000000000'
 '2010-05-14T00:00:00.000000000' '2010-05-21T00:00:00.000000000'
 '2010-05-28T00:00:00.000000000' '2010-06-04T00:00:00.000000000'
 '2010-06-11T00:00:00.000000000' '2010-06-18T00:00:00.000000000'
 '2010-06-25T00:00:00.000000000' '2010-07-02T00:00:00.000000000'
 '2010-07-09T00:00:00.000000000' '2010-07-16T00:00:00.000000000'
 '2010-07-23T00:00:00.000000000' '2010-07-30T00:00:00.000000000'
 '2010-08-06T00:00:00.000000000' '2010-08-13T00:00:00.000000000'
 '2010-08-20T00:00:00.000000000' '2010-08-27T00:00:00.000000000'
 '2010-09-03T00:00:00.000000000' '2010-09-10T00:00:00.000000000'
 '2010-09-17T00:00:00.000000000' '2010-09-24T00:00:00.000000000'
 '2010-10-01T00:00:00.000000000' '2010-10-08T00:00:00.000000000'
 '2010-10-15T00:00:00.000000000' '2010-10-22T00:00:00.000000000'
 '2010-10-29T00:00:00.000000000' '2010-11-05T00:00:00.000000000'
 '2010-11-12T00:00:00.000000000' '2010-11-19T00:00:00.000000000'
 '2010-11-26T00:00:00.000000000' '2010-12-03T00:00:00.000000000'
 '2010-12-10T00:00:00.000000000' '2010-12-17T00:00:00.000000000'
 '2010-12-24T00:00:00.000000000' '2010-12-31T00:00:00.000000000'
 '2011-01-07T00:00:00.000000000' '2011-01-14T00:00:00.000000000'
 '2011-01-21T00:00:00.000000000' '2011-01-28T00:00:00.000000000'
 '2011-02-04T00:00:00.000000000' '2011-02-11T00:00:00.000000000'
 '2011-02-18T00:00:00.000000000' '2011-02-25T00:00:00.000000000'
 '2011-03-04T00:00:00.000000000' '2011-03-11T00:00:00.000000000'
 '2011-03-18T00:00:00.000000000' '2011-03-25T00:00:00.000000000'
 '2011-04-01T00:00:00.000000000' '2011-04-08T00:00:00.000000000'
 '2011-04-15T00:00:00.000000000' '2011-04-22T00:00:00.000000000'
 '2011-04-29T00:00:00.000000000' '2011-05-06T00:00:00.000000000'
 '2011-05-13T00:00:00.000000000' '2011-05-20T00:00:00.000000000'
 '2011-05-27T00:00:00.000000000' '2011-06-03T00:00:00.000000000'
 '2011-06-10T00:00:00.000000000' '2011-06-17T00:00:00.000000000'
 '2011-06-24T00:00:00.000000000' '2011-07-01T00:00:00.000000000'
 '2011-07-08T00:00:00.000000000' '2011-07-15T00:00:00.000000000'
 '2011-07-22T00:00:00.000000000' '2011-07-29T00:00:00.000000000'
 '2011-08-05T00:00:00.000000000' '2011-08-12T00:00:00.000000000'
 '2011-08-19T00:00:00.000000000' '2011-08-26T00:00:00.000000000'
 '2011-09-02T00:00:00.000000000' '2011-09-09T00:00:00.000000000'
 '2011-09-16T00:00:00.000000000' '2011-09-23T00:00:00.000000000'
 '2011-09-30T00:00:00.000000000' '2011-10-07T00:00:00.000000000'
 '2011-10-14T00:00:00.000000000' '2011-10-21T00:00:00.000000000'
 '2011-10-28T00:00:00.000000000' '2011-11-04T00:00:00.000000000'
 '2011-11-11T00:00:00.000000000' '2011-11-18T00:00:00.000000000'
 '2011-11-25T00:00:00.000000000' '2011-12-02T00:00:00.000000000'
 '2011-12-09T00:00:00.000000000' '2011-12-16T00:00:00.000000000'
 '2011-12-23T00:00:00.000000000' '2011-12-30T00:00:00.000000000'
 '2012-01-06T00:00:00.000000000' '2012-01-13T00:00:00.000000000'
 '2012-01-20T00:00:00.000000000' '2012-01-27T00:00:00.000000000'
 '2012-02-03T00:00:00.000000000' '2012-02-10T00:00:00.000000000'
 '2012-02-17T00:00:00.000000000' '2012-02-24T00:00:00.000000000'
 '2012-03-02T00:00:00.000000000' '2012-03-09T00:00:00.000000000'
 '2012-03-16T00:00:00.000000000' '2012-03-23T00:00:00.000000000'
 '2012-03-30T00:00:00.000000000' '2012-04-06T00:00:00.000000000'
 '2012-04-13T00:00:00.000000000' '2012-04-20T00:00:00.000000000'
 '2012-04-27T00:00:00.000000000' '2012-05-04T00:00:00.000000000'
 '2012-05-11T00:00:00.000000000' '2012-05-18T00:00:00.000000000'
 '2012-05-25T00:00:00.000000000' '2012-06-01T00:00:00.000000000'
 '2012-06-08T00:00:00.000000000' '2012-06-15T00:00:00.000000000'
 '2012-06-22T00:00:00.000000000' '2012-06-29T00:00:00.000000000'
 '2012-07-06T00:00:00.000000000' '2012-07-13T00:00:00.000000000'
 '2012-07-20T00:00:00.000000000' '2012-07-27T00:00:00.000000000'
 '2012-08-03T00:00:00.000000000' '2012-08-10T00:00:00.000000000'
 '2012-08-17T00:00:00.000000000' '2012-08-24T00:00:00.000000000'
 '2012-08-31T00:00:00.000000000' '2012-09-07T00:00:00.000000000'
 '2012-09-14T00:00:00.000000000' '2012-09-21T00:00:00.000000000'
 '2012-09-28T00:00:00.000000000' '2012-10-05T00:00:00.000000000'
 '2012-10-12T00:00:00.000000000' '2012-10-19T00:00:00.000000000'
 '2012-10-26T00:00:00.000000000']
[24924.5  46039.49 41595.55 ...  1061.02   760.01  1076.8 ]
[False  True]