<img src="img/Deloitte_logo.png" align="right" style="width:150px;"/>

# JEST - Mind Your Data

## Workshop: Segmentação de cliente de retalho usando ML Ops

Bruno Parra, Bárbara Correia

## Table of contents
* [0. The challenge](#0)
* [1. Data](#1)
* [2. Exploratory Data Analysis](#2)
* [3. Feature engineering](#3)
* [4. Modelling](#4)
* [5. Result assessment (1)](#5)
* [6. Refactoring (MLflow)](#6)
* [7. Result assessment (2)](#7)

## 0. The challenge <a class="anchor" id="0"></a>

You are provided with historical sales data for 45 stores located in different regions - each store contains a number of departments. The company also runs several promotional markdown events throughout the year. These markdowns precede prominent holidays, the four largest of which are the Super Bowl, Labor Day, Thanksgiving, and Christmas. The weeks including these holidays are weighted five times higher in the evaluation than non-holiday weeks.

**Tasks:**
* Predict the department-wide sales for each store for the following year
* Model the effects of markdowns on holiday weeks
* Provide recommended actions based on the insights drawn, with prioritization placed on largest business impact

## 1. Data <a class="anchor" id="1"></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_sales=pd.read_csv('datasets/sales.csv')
df_sales.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False

## 2. Exploratory Data Analysis <a class="anchor" id="2"></a>

What kind of analysis can we pursue in order to get a general view of the data we are working with?

#### Suggestions:
* **Profilling**: shape of the dataset, 
* **Data quality**: check for empty values, duplicates, data types...
* **Statistics**: mean, standard deviation, distribution, variable correlation, ...
* **Graphical insights**: plot variables across time (...)

## 3. Feature engineering <a class="anchor" id="3"></a>

## 4. Modelling <a class="anchor" id="4"></a>

We will test a simple regressive model to forecast the sales volume.

In [5]:
from sklearn.linear_model import LinearRegression

## 5. Result assessment (1) <a class="anchor" id="5"></a>

## 6. Refactoring (MLflow) <a class="anchor" id="6"></a>

## 7. Result assessment (2) <a class="anchor" id="7"></a>